<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: #eaf0f3; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
  <div style="background-color: #eaf0f3; padding: 20px; width: 100%; max-width: 800px; text-align: center;">
    <div style="margin-top: 16px;">
      <div style="border-radius: 50%; overflow: hidden; display: inline-block; margin-top: 16px; width: 100% max: width 100%;">
        <img loading="lazy" src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708184846/Logo_1_lgng9k.png" style="width: 100%; max-width: 100%;">
      </div>
    </div>
    <div style="color: #000; font: 400 24px Barlow, sans-serif;">
      Hi <span style="font-weight: 700">{{School Name}}!</span>,<br /> Error Log Notification!!!
    </div>
    <div style="background-color: var(--text-primary, #fff); border-radius: 6px; margin-top: 16px; padding: 20px; font-size: 18px; font-weight: 400; display: inline-block;">
      <div style="margin-bottom: 20px; text-align: center;">
        <img loading="Instagram_Picture" src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1707568334/Ellipse_38_2_o9ligp.png" style="border-radius: 50%; margin-bottom: 16px; display: inline-block;">
        <div style="color: #5e5e5e; font-family: Barlow, sans-serif;">
          This email is to notify you of an error encountered while trying to access GUIDENT EDTECH on {{email}}. We take software stability seriously and strive to ensure smooth operation for all users.
          <br />
          <span style="font-weight: 700">Error Details:</span>
          <ul style="list-style: none; padding: 0; margin: 0; display: inline-block; text-align: left;">
            <li><span style="font-weight: 700">Error Code:</span> {{error.message}}</li>
            <li><span style="font-weight: 700">Error Message:</span> {{error.message}}</li>
            <li><span style="font-weight: 700">Date and Time</span>: {{}}</li>
          </ul>
        </div>
        <div style="color: #2375e2; font-family: Barlow, sans-serif; margin-top: 16px; display: inline-block;">
          You can now access GUIDENT APP online or on any device by going to <span style="color: rgba(35, 117, 226, 1)"><a href="http://www.guident.tech" style="color: rgba(35, 117, 226, 1)">http://www.guident.tech</a></span>
        </div>
      </div>
    </div>
    <table style="margin: auto; margin-top: 20px;">
        <tr>
            <td style="text-align: center; width: fit-content; height: fit-content; ">
                <a href="https://www.facebook.com/profile.php?id=100085155524341&mibextid=ZbWKwL"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183514/images_1_1_fhw1dj.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px;"></a>
              </td>
            <td style="text-align: center; width: fit-content; height: fit-content;">
                <a href="https://www.linkedin.com/company/guident-app/"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183514/download_2_1_mf34rg.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px"></a>
              </td>
            <td style="text-align: center; width: fit-content; height: fit-content;">
                <a href="https://www.instagram.com/guidentapp?igsh=a2x0bWxxdDRlY2sw"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183515/download_4_1_zrv9nm.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px"></a>
            </td>
        </tr>
    </table>
    <div class="footer" style="text-align: center; margin-top: 20px; ">
        <p class="copyright">Copyright © 2023 Guident Edtech Solutions</p>
    </div>