<!DOCTYPE html>
<html lang="en" style="font-size: 16px; box-sizing: border-box;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="align-items: center; background-color: #eaf0f3; display: inline-block; flex-direction: column; padding: 50px 80px; justify-content: center; width: 1111px; align-content: center; align-items: center;">
    <div style="display: inline-block; justify-content: center; align-items: center;  width: auto; align-content: center;">
      <table style="width: 100%; display: inline-block;   ; justify-content: center; align-items: center; ">   
          <tr>
            <td class="div-2" style="justify-content: center; display: flex; margin-top: 96px; width: 207px; max-width: 100%; padding: 18px 22px; margin: auto; height: 163px;">
              <div class="div-3" style="background-color: var(--text-primary, #fff); border-radius: 50%; height: 163px; padding: 43px 27px 23px; width: 207px;">
                <img loading="lazy" src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708086077/Frame_11947_zsor6k.png" class="img" style="aspect-ratio: 1.12; object-fit: auto; object-position: center; width: 207px; height: 163px;">
              </div>  
            </td>
            <td class="div-4" style="color: #000; text-align: center; width: auto; font: 400 52px Barlow, sans-serif; display: block; margin: auto; margin-top: 50px;"> 
<<<<<<< HEAD
              <div><span style="font-weight: 700">Congratulation! {{email}}!</span> <br> <span> your Child has been admitted to </span> <span style="font-weight: 700"> {{schoolName}}!</span></div>
            </td>
=======
              <div> Hi <span style="font-weight: 700">{{email}}!</span>,<br /> Your Account is Ready!!</div>
            </td>

>>>>>>> develop
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: flex; flex-direction: column;  margin-top: 67px; width: auto; max-width: 1111px; justify-content: center; align-items: center; padding-top: 30px;">
                <div style="justify-content: center; width: 100%; color: #5e5e5e; text-align: center; align-self: center; white-space: nowrap; font: 700 32px Barlow, sans-serif;"> 
                <img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1707568334/Ellipse_38_2_o9ligp.png" alt=""> </div>
            </td>  
<<<<<<< HEAD
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: inline-block; flex-direction: row; max-width: 1111px; justify-content: center; align-items: center; padding-top: 20px; padding-left: 47px; padding-right: 47px; width: auto;">
                <div class="div-11" style="display: inline-block; text-align: center; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto 0; width: auto ">
                  <div class="div-13" style="font-family: Barlow, sans-serif; font-weight: 400; margin-top: 15px;">We are thrilled to share that your child, [Child's Name], has been successfully admitted to [School Name]. We extend our warmest congratulations.</div>
                </div>
            </td>
            
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: inline-block; text-align: center; flex-direction: row; max-width: 1111px; justify-content: center; align-items: center; padding-top: 20px; width: 100%;">
              <div class="div-11" style="display: inline-block; text-align: center; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto 0; width: auto;">
                <div class="div-13" style="font-family: Barlow, sans-serif; font-weight: 400; margin-top: 15px; "> Please login with the following details; <br> <span style="font-weight: 700" > Username : Leads1242 </span></div>
              </div>
            </td>
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: inline-block; flex-direction: row; max-width: 1111px; justify-content: center; align-items: center; padding-top: 20px; padding-left: 47px; padding-right: 47px; padding-bottom: 30px; width: auto;">
              <div class="div-11" style="display: inline-block; text-align: center; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto 0; width: auto;">
                <div class="div-13" style="color: #2375e2; font-family: Barlow, sans-serif; margin-top: 16px; display: inline-block;">You can now access GUIDENT APP online or on any device by going to <span style="color: rgba(35, 117, 226, 1)"><a href="http://www.guident.tech" style="color: rgba(35, 117, 226, 1)">http://www.guident.tech</a></span></div>
              </div>  
            </td>
            <td style="display: inline-block; text-align: center; align-items: center; border-radius: 6px; background-color: var(--text-primary, #fff); max-width: 1111px; padding-top: 20px; padding-bottom: 20px; width: 100%;">
                <div class="div-11" style="display: inline-block; text-align: center; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto; width: auto;">
                  <div style="text-align: center; margin: auto; display: inline-block; border-radius: 60px; background: linear-gradient(0deg, #3490ec 0%, #3490ec 100%), #ff743c; margin-top: 58px; width: 335px; max-width: 100%;  white-space: nowrap; padding: 19px 60px; font: 700 18px Barlow, sans-serif; margin-top: 40px; white-space: initial;"> <a href="www.guident.tech" style="color: var(--text-primary, #fff); text-decoration-line: none;">Get Started</a></div>
                </div>    
   
=======
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: inline-block; flex-direction: row; max-width: 1111px; justify-content: left; align-items: left; padding-top: 20px; padding-left: 47px; padding-right: 47px; width: auto;">
                <div class="div-11" style="display: inline-block; text-align: left; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto 0; width: auto ">
                  <div class="div-13" style="font-family: Barlow, sans-serif; font-weight: 400; margin-top: 15px;"><br> Hi [Student Name], <br> <br> Congratulations! <br> <br> Your account on GUIDENT EDUTECH is now successfully created. This exciting journey unlocks a world of learning, engagement, and connection within our school community. You can now visit a school with your Parent Email to enjoy other services from your school.</div>
                </div>

            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); display: inline-block; flex-direction: row; max-width: 1111px; justify-content: center; align-items: center; padding-top: 20px; padding-left: 47px; padding-right: 47px; padding-bottom: 30px; width: auto;">
                <div class="div-11" style="display: inline-block; text-align: center; align-self: stretch; font-size: 24px; color: #5e5e5e; margin: auto 0; width: auto ">
                  <div class="div-13" style="color: #2375e2; font-family: Barlow, sans-serif; margin-top: 16px; display: inline-block;">You can now access GUIDENT APP online or on any device by going to <span style="color: rgba(35, 117, 226, 1)"><a href="http://www.guident.tech" style="color: rgba(35, 117, 226, 1)">http://www.guident.tech</a></span></div>
                </div>     
>>>>>>> develop
      
            <td style="border-radius: 6px; background-color: var(--text-primary, #fff); margin-top: 67px; width: auto; max-width: 100%; padding: 50px 62px 0; gap: 20px; display: flex; padding-bottom: 20px;">
              <div class="column-7" style="display: inline-block; line-height: normal; width: auto; margin-left: 0px;">
                <div class="div-30" style="display: inline-block; align-self: stretch; margin: auto 0; width: auto;">
                    <div class="div-31" style="color: #000; font: 700 42px Barlow, sans-serif;">Stay connected with<br />your CHILD!</div>
<<<<<<< HEAD
                    <div class="div-32" style="color: #5e5e5e; margin-top: 20px; font: 400 24px Barlow, sans-serif;">Get the most of GUIDENT APP by installing our mobile app. You can log in by using your existing email address an password.</div>
=======
                    <div class="div-32" style="color: #5e5e5e; margin-top: 20px; font: 400 24px Barlow, sans-serif;">Get the most of GUIDENT APP by installing our mobile app. You can log in by using your existing emails address an password.</div>
>>>>>>> develop
                    <div class="div-33" style="justify-content: center; align-items: center; border-radius: 64.549px; background: linear-gradient(0deg, #000 0%, #000 100%), #4361ee; display: flex; margin-top: 40px; width: 224px; max-width: 100%; padding: 11px 19px;">
                        <a href="https://play.google.com/store/apps/details?id=kn.parent.guident"><img loading="lazy" src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1707583980/Image_4_tvzwyy.png" class="img-5" style="aspect-ratio: 3.13; object-fit: auto; object-position: center; width: 100%;"></a>
                    </div>
                </div>
              </div>
              <div class="column-8" style="display:inline-block line-height: normal; width: auto;">
                  <img loading="lazy" src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708605181/Group_1171274909_sj9mpd.png" class="img-6" style="aspect-ratio: 0.86; object-fit: auto; object-position: center; width: 100%; height: 350px;">
                </div>
              </div>
            </td>    
            <td style="display: inline-block; align-items: center; text-align: center; justify-content: center;">
     

            </td>
        </tr>
      </table>
      <div style="justify-content: center; align-items: center; text-align: center; margin-top: 15px; max-width: 100%;">
        <a href="https://www.facebook.com/profile.php?id=100085155524341&mibextid=ZbWKwL"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183514/images_1_1_fhw1dj.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px;"></a>
        <a href="https://www.linkedin.com/company/guident-app/"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183514/download_2_1_mf34rg.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px"></a>
        <a href="https://www.instagram.com/guidentapp?igsh=a2x0bWxxdDRlY2sw"><img src="https://res.cloudinary.com/dqqx6sv3o/image/upload/v1708183515/download_4_1_zrv9nm.png" alt="Image description" style="height: 50px; width: 50px; margin-right: 10px"></a>
      </div>
      <div style= "display: inline; justify-content: center; text-align: center; align-items: center; width: auto; max-width: 100%;"> 
        <div class="div-36" style="color: #000; text-align: center; margin-top: 14px; white-space: nowrap; font: 400 24px Barlow, sans-serif;">Copyright © 2024</div>
        <div class="div-37" style="color: #000; text-align: center; font: 700 24px Barlow, sans-serif;">GuidentAPP</div>
        <div class="div-38" style="color: #000; text-align: center; white-space: nowrap; font: 400 24px Barlow, sans-serif;">Guident Edtech Solutions</div>
      </div>   
</body>
</html>
